includes:
    - ./phpstan.neon
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkMissingIterableValueType: false
    namespaceAndSuffix:
        App\Events: Event
        App\Listener: Listener
        App\Policies: Policy
        App\Jobs: Job

services: