includes:
    - ./phpstan.neon
    - ./phpstan-rich-parser.neon
    - ../../nunomaduro/larastan/extension.neon

parameters:
    checkMissingIterableValueType: false
    namespaceAndSuffix:
        App\Events: Event
        App\Listener: Listener
        App\Policies: Policy
        App\Jobs: Job
rules:
    - Worksome\CodingStyle\PHPStan\Laravel\DisallowPartialRouteResource\DisallowPartialRouteFacadeResourceRule
    - Worksome\CodingStyle\PHPStan\Laravel\DisallowPartialRouteResource\DisallowPartialRouteVariableResourceRule
    - Worksome\CodingStyle\PHPStan\Laravel\EnforceKebabCaseArtisanCommandsRule
    - Worksome\CodingStyle\PHPStan\Laravel\DisallowEnvironmentCheck\DisallowEnvironmentCheckRule
services:
    -
        class: Worksome\CodingStyle\PHPStan\Laravel\DisallowPartialRouteResource\PartialRouteResourceInspector
    -
        class: Vural\LarastanStrictRules\Rules\NoDynamicWhereRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoFacadeRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoValidationInControllerRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\ScopeShouldReturnQueryBuilderRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoPropertyAccessorRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoGlobalLaravelFunctionRule
        arguments:
            allowedFunctions:
                - class_basename
                - class_uses_recursive
                - e
                - env
                - object_get
                - preg_replace_array
                - retry
                - str
                - tap
                - throw_if
                - throw_unless
                - trait_uses_recursive
                - with
                - collect
                - data_fill
                - data_get
                - data_set
                - value
                - config
                - fake
                - method_field
                - now
                - old
                - redirect
                - response
                - route
                - trans
                - trans_choice
                - __
                - view
                - url
                - secure_url
                - asset
                - secure_asset
        tags:
            - phpstan.rules.rule
#    -
#        class: Vural\LarastanStrictRules\Rules\NoLocalQueryScopeRule
#        tags:
#            - phpstan.rules.rule
