includes:
    - ../../phpstan/phpstan-mockery/extension.neon

parameters:
    namespaceAndSuffix: []

parametersSchema:
    namespaceAndSuffix: arrayOf(string(), string())

services:
    -
        class: Worksome\CodingStyle\PHPStan\NamespaceBasedSuffixRule
        arguments:
            namespaceAndSuffix: %namespaceAndSuffix%
        tags:
            - phpstan.rules.rule