includes:
    - ../../phpstan/phpstan-mockery/extension.neon
    - ../../spaze/phpstan-disallowed-calls/extension.neon

parameters:
    disallowedNamespaces:
        - namespace: 'JetBrains\PhpStorm\*'
          message: 'use native PHPDoc comments instead.'
    disallowedMethodCalls:
        - method: 'Pest\PendingObjects\TestCall::only()'
          message: 'calls to Pest''s "only()" method should not be pushed to development.'
    namespaceAndSuffix: []
    worksome:
        allRules: true
        declareStrictTypes: %worksome.allRules%
        disallowPhpunit: %worksome.allRules%
        namespaceBasedSuffix: %worksome.allRules%

parametersSchema:
    namespaceAndSuffix: arrayOf(string(), string())
    worksome: structure([
        allRules: anyOf(bool(), arrayOf(bool())),
        declareStrictTypes: anyOf(bool(), arrayOf(bool())),
        disallowPhpunit: anyOf(bool(), arrayOf(bool())),
        namespaceBasedSuffix: anyOf(bool(), arrayOf(bool())),
    ])

services:
    -
        class: Worksome\CodingStyle\PHPStan\DisallowPHPUnitRule
    -
        class: Worksome\CodingStyle\PHPStan\DeclareStrictTypesRule
    -
        class: Worksome\CodingStyle\PHPStan\NamespaceBasedSuffixRule
        arguments:
            namespaceAndSuffix: %namespaceAndSuffix%

conditionalTags:
    Worksome\CodingStyle\PHPStan\DeclareStrictTypesRule:
        phpstan.rules.rule: %worksome.declareStrictTypes%
    Worksome\CodingStyle\PHPStan\DisallowPHPUnitRule:
        phpstan.rules.rule: %worksome.disallowPhpunit%
    Worksome\CodingStyle\PHPStan\NamespaceBasedSuffixRule:
        phpstan.rules.rule: %worksome.namespaceBasedSuffix%
