includes:
    - ../../phpstan/phpstan-mockery/extension.neon
    - ../../spaze/phpstan-disallowed-calls/extension.neon

parameters:
    namespaceAndSuffix: []
    disallowedMethodCalls:
        - method: 'Pest\PendingObjects\TestCall::only()'
          message: 'calls to Pest''s "only()" method should not be pushed to development.'
    stubFiles:
        - stubs/phpstan/pest.stub

parametersSchema:
    namespaceAndSuffix: arrayOf(string(), string())

rules:
    - Worksome\CodingStyle\PHPStan\DisallowPHPUnitRule
services:
    -
        class: Worksome\CodingStyle\PHPStan\DeclareStrictTypesRule
        tags:
            - phpstan.rules.rule
    -
        class: Worksome\CodingStyle\PHPStan\NamespaceBasedSuffixRule
        arguments:
            namespaceAndSuffix: %namespaceAndSuffix%
        tags:
            - phpstan.rules.rule
