<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="phpcsfixer">
            <directory>tests/PhpCsFixer</directory>
        </testsuite>
        <testsuite name="phpstan">
            <directory>tests/PHPStan</directory>
        </testsuite>
        <testsuite name="rector">
            <directory>tests/Rector</directory>
        </testsuite>
        <testsuite name="phpcs">
            <directory>tests/Sniffs</directory>
        </testsuite>
    </testsuites>
</phpunit>
